@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");


html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.image-inverted {
  filter: invert(100%);
}